@import url("./vendor/fonts/fonts.css");
body {
  margin: 0;
  font-family: "SpaceMono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(185, 41%, 84%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page {
  margin: 100px auto;
  max-width: 1440px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 24px;
  font-family: "SpaceMono";
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  text-align: right;
}
button {
  font-size: 24px;
  font-family: "SpaceMono";
}
